:root {
  color: var(--color-fg);
  background: var(--color-bg);
}

.fields {
  display: grid;
  grid-template-columns: 1fr;
}

input + label,
input[type=submit],
label:has(> input) + label:not(:has(> input)) {
  margin-top: 16px;
}
