:root {
  color: var(--color-fg);
  background: var(--color-bg);
}

.fields {
  display: grid;
  grid-template-columns: 1fr;
}

hr {
  display: block;
  width: 100%;
}

fieldset {
  border-style: dashed;
}

:is(input, hr) + :is(label, hr),
input[type=submit],
label:has(> input) + label:not(:has(> input)) {
  margin-top: 16px;
}
