:host {
  position: relative;
  display: block;
  overflow: auto;
  max-height: 200px;
}

table {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 8px;
  max-width: 100%;
}

tr {
  display: grid;
  grid-column: 1 / 3;
  grid-gap: 8px;
  grid-template-columns: subgrid;
}

tr:first-child {
  display: contents;
}

th {
  text-align: left;
  position: sticky;
  background: white;
  top: 0;
}
td {
  overflow: scroll;
  font-family: monospace;
  white-space: nowrap;
  &::-webkit-scrollbar { display: none }
}
